{# empty Twig template #}

{% block stylesheets %}
    {% stylesheets 'bundles/app/public/css/questionnaire.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{%endblock%}
{% block content %}
    {% set contribTitle = 'contributors'%}

    {% if lang == 'fr' %}
        {% set contribTitle = 'contributeurs'%}
    {% endif %}
    {% if lang == 'both' %}
        {% set title = "<i>contributors</i> / contributeurs"%}
    {% endif %}


    <form id="questionnaire-form" method="post">
        <button type="button" class="btn btn-info " data-toggle="modal" data-target="#contributorsModal">{{contribTitle|capitalize}}</button>
        <br><br>

        {% if action=='update'%}
            <div class="col-lg-12" style="text-align: center">
                <input type="submit" class="btn btn-info" value="Submit Button">
            </div>
            <br><br>
        {%endif%}

        <div id="contributorsModal" class="modal fade"  role="dialog">
            <div class="modal-dialog" style="background-color: #eee">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title ">{{contribTitle|capitalize}}</h4>
                </div>
                <div class="modal-body ">
                    <p>{{questionnaire.get('contributors') |raw}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>

        <div>
            {% set first_tab = false%}

            {% set divTabs = '<ul class="nav nav-tabs" role="tablist">'%}

            {% if isAnswered%}
                {% set groups = questionnaire.getAnswers_group()%}
            {% else %}
                {% set groups = questionnaire.getQuestions_group()%}
            {% endif %}

            {% for group in groups %}

                {% if group.get('parent_group')==null%}

                    {% set title = group.title%}

                    {% if lang == 'fr' %}
                        {% set title = group.title_fr%}
                    {% endif %}
                    {% if lang == 'both' %}
                        {% set title = "<i>#{group.title} </i> <br> #{group.title_fr}"%}
                    {% endif %}
                    {% set extraActive = ""%}
                    {% set extraActive2 = ""%}
                    {% if first_tab == false %}
                        {% set first_tab = true%}
                        {% set extraActive = "class=\"active\""%}
                    {% endif %}
                    {% set divTabs = divTabs ~ "<li #{extraActive |raw}><a href=\"\##{group.id}\" role=\"tab\" data-toggle=\"tab\">#{title |raw}</a></li>"%}
                {% endif %}
            {% endfor %}
            {% set divTabs = divTabs ~ ' </ul>'%}

            <div class="tabbable">{{divTabs|raw}} <div class="tab-content">
                    {% if isAnswered%}
                        {% set groups = questionnaire.getAnswers_group()%}
                    {% else %}
                        {% set groups = questionnaire.getQuestions_group()%}
                    {% endif %}
                    {% set first_tab = false %}
                    {% for group in groups%}
                        {% if group.get('parent_group')==null%}

                            {% set extraActive2 = "" %}
                            {% if first_tab == false %}
                                {% set first_tab = true %}
                                {% set extraActive2 = " active" %}
                            {% endif %}
                            <div class="tab-pane {{extraActive2}}" id="{{group.id|raw }}">
                                {% set varsgroup = {'questionnaire':questionnaire,'group':group,'lang':lang,'isAnswered':isAnswered }%}
                                {% include '/questionnaire/questionsGroupRenderer.html.twig' with varsgroup %}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </form>
{% endblock %}